<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h3 style="color: maroon" th:text="${error}"></h3>
    <h2>Choose course:</h2>
    <form th:method="POST" th:action="@{/courses}" th:id="pick">
        <ul style="list-style-type:none">
            <li th:each="course : ${courses}">
                <input type="radio" name="courseId" th:value="${course.id}" th:text="${course.name}">
                <br/>
                &emsp; <a th:href="@{'/courses/edit-form/{id}' (id=${course.id})}">Edit</a>
                <form th:method="POST" th:action="@{'/courses/delete/{id}' (id=${course.id})}" th:id="${course.id}">
                    <button type="submit" name="Delete" th:form="${course.id}">Delete</button>
                </form>
            </li>
        </ul>
        <br/>

        <button type="submit" name="Submit" th:form="pick">Submit</button>
    </form>
    <br/>
    <a th:href="@{'/courses/add-form/'}">Add course</a>
</main>
</body>
</html>