<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form method="post" action="/listCourses">
    <label th:each="course: ${courses}">
        <input type="radio" name="courseId" th:attr="value = ${course.courseId}"><th:block th:text=" ${course.name}"/>
        <br/>
    </label>

        <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>