<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>
</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <div><th:block th:text="${course}"></th:block> </div>
    <ul th:each="student : ${students}">
        <li>
            <th:block th:text="${student.name + ' ' + student.surname }"></th:block>
            <th:block th:each="grade : ${grades}">
                <th:block th:if="${grade.student.name} == ${student.name}">
                    </br>
                    <th:block th:text="'Grade: ' + ${grade.grade} + ' on ' +
                    ${#temporals.format(grade.timestamp, 'dd-MM-yyyy HH:mm:ss')}"></th:block>
                </th:block>
            </th:block>
        </li>
    </ul>
    <a href="/courses">Back</a>
</section>

</body>
</html>